<!doctype html>
<html>
    <head>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <link href='https://fonts.googleapis.com/css?family=Hind:400,700' rel='stylesheet' type='text/css'>
        
        <title>Views</title>
        
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <style>
            .title_color {
                color:white;
            }
            .table th {
               text-align: center;   
            }
            .table td {
               text-align: center;   
            }
        </style>
    
    </head>

    <body style="background-color:black">
        
        <div style="padding-bottom:0px; margin:0px">
            <h1 style="text-align:center; font-family: 'Hind', sans-serif; font-weight:700; font-size:100px; color:white">VIEWS</h1>
            <hr style="padding-top:0px; margin:0px"/>

        </div>

        <div style="background-color:#252525; width:75%; margin:0 auto;">
            
            <!-- MENU -->
            <table class="table" style="margin:-1px; color:white; text-align:center">
                <tr><th width=33%><a href="myshow.html">All Shows</th><th width=33%><a href="views.html">TV Schedule</th><th width=33%><a href="views.html">On Going Shows</th></tr>
            </table>
            
            <hr style="margin:0px"/>
            
            <!-- ON GOING SHOWS -->
            <h2 class="title_color" style="margin:0px; padding-top:2%; padding-bottom:3%; padding-left:1%; text-align:center">My Shows</h2>

                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 1 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=gameofthrones"><img src="Posters/GOT.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=siliconvalley"><img src="Posters/SiliconValley.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=entourage"><img src="Posters/entourage.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 2 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=suits"><img src="Posters/suits.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=friends"><img src="Posters/friends.jpeg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=narcos"><img src="Posters/narco.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 3 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=thewalkingdead"><img src="Posters/twd.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=mrrobot"><img src="Posters/mrRobot.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=houseofcards"><img src="Posters/HOC.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 4 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=theoffice"><img src="Posters/office.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=bigbang"><img src="Posters/bbt.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=breakingbad"><img src="Posters/bb.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 5 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=dexter"><img src="Posters/dexter.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=prisonbreak"><img src="Posters/pb.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=freshprinceofbelair"><img src="Posters/fresh.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 6 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://www.shush.se/index.php?showlist=howimetyourmother"><img src="Posters/himym.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://thewatchseries.to/serie/lie_to_me"><img src="Posters/lietome.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=modernfamily"><img src="Posters/mf.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
            
                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 7 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://thewatchseries.to/serie/workaholics"><img src="Posters/work.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 2 -->
                        <a href="http://www.shush.se/index.php?showlist=that70sshow"><img src="Posters/70show.jpg" style="width:500px" class="img-responsive"/>
                    </div>

                    <div class="col-md-4">
                        <!-- div column 3 -->
                        <a href="http://www.shush.se/index.php?showlist=fearthewalkingdead"><img src="Posters/ftwd.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>

                <div class="row" style="padding-left:2.5%; padding-right:2.5%">
                    <!-- div row 8 -->
                    <div class="col-md-4">
                        <!-- div column 1 -->
                        <a href="http://thewatchseries.to/serie/impractical_jokers"><img src="Posters/jokers.jpg" style="width:500px" class="img-responsive"/>
                    </div>
                </div>
        </div>
    </body>
</html>

